

<%
var connection = appdata.Cao.Years;
var years, totalStudents;
for(var i=0; i < connection.length;i++){
var yearId = connection[i].yearId;
for(var j = 0; j < connection[i].Points.length;j++){
if(connection[i].Points[j].isDefault){
for(var k = 0; k < connection[i].Points[j].PointBreakdown.length; k++){
for(var l = 0; l < connection[i].Points[j].PointBreakdown[k].results.length; l++) {
if(connection[i].label == 2015){
    years = connection[i].label;
    totalStudents = connection [i].totalStudents;
}
}
}
}
}
}
%>

<div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 intro">
        <h1>CAO</h1>
        <h3 class="best-heading"></h3>

        <div class="block">
            <p><span class="pale">C</span>ao statistics can be key to discovering trends
                among subjects. A lot of stress is usually caused un-necessarily by the CAO, Students
                only ever hear of 600 point students.
            </p>

            <p>Once you have looked through at the numbers you will be surprised to find
                you are no doubt better prepared than you previously thought.
            </p>
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 intro">
        <form role="form" class="form-horizontal">
            <div class="form-group col-xs-4">
                <label for="year" class="control-label">Select year</label>
            </div>
            <div class="form-group col-xs-8">
                <select class="basic">
                    <%connection.forEach(function(item) { %>
                    <option value="<%= item.label %>"><%=item.label%></option>
                    <% }); %>
                </select>
            </div>
        </form>
    </div>
</div>



<!--
<div class="row">
    <div class="col-xs-12">
        <input type="text" id="showYear"/>
    </div>
</div>

-->

<section class="cao-stats">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="card no-Box-Shadow">
                    <div class="header">
                        <h4 class="text-center">Leaving Cert points 2015-2010</h4>
                    </div>
                    <div class="content">
                        <canvas id="cao-points" style="height: 320px; width:100%;"></canvas>
                    </div>
                    <div class="footer">
                        <div class="legend text-center">
                            <!--
                            <i class="fa fa-circle chart-munster"></i> 600
                            <i class="fa fa-circle chart-connacht"></i> 500-599
                            <i class="fa fa-circle chart-ulster"></i> 400-499
                            <i class="fa fa-circle chart-leinster"></i> 300-399
                            <i class="fa fa-circle chart-leinster"></i> 200-299
                            <i class="fa fa-circle chart-leinster"></i> 100-199
                            <i class="fa fa-circle chart-leinster"></i> < 100
                            -->


                        </div>
                    </div>

                </div>
            </div>


            <div class="col-xs-12 col-md-6">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class ="datatitle-students text-center">Average number of students</h4>
                        <div class="info-big text-center">
                            <span class="big-figure text-center">
                                <%= totalStudents%>
                            </span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <%
                    var connection = appdata.Cao.Years;
                    var points, pointstotal, percent
                    for(var i=0; i < connection.length;i++){
                        var years = connection[i].label
                        var yearId = connection[i].yearId;
                    for(var j = 0; j < connection[i].Points.length;j++){
                    if(connection[i].Points[j].isDefault){
                    for(var k = 0; k < connection[i].Points[j].PointBreakdown.length; k++){
                    for(var l = 0; l < connection[i].Points[j].PointBreakdown[k].results.length; l++) {
                    if(connection[i].label == 2015){
                        points = connection[i].Points[j].PointBreakdown[k].results[l].label;
                        pointstotal = connection[i].Points[j].PointBreakdown[k].results[l].total;
                        percent =connection[i].Points[j].PointBreakdown[k].results[l].percent;

                    %>

                    <div class="col-xs-6">
                        <h4 class ="datatitle"><%= points%></h4>
                        <div class="info-big">
                            <span class="cao-figure">
                                <%= pointstotal%>
                            </span>
                        </div>
                    </div>
                    <%
                    }
                    }
                    }
                    }
                    }
                    }
                    %>
                </div>


            </div>


        </div>
    </section>

